body{
  background-color: #FFF5E4;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 4%;
  animation: 3s ease-in 1s 2 reverse both paused slidein;
}
h1{

  color: #256D85;
}
h3{
  color: #9C2C77;
}
/*
.self{
  background-color: green;
}
*/
